@import "../variable.css";

/*banner*/
.banner {
  position: relative;
  z-index: 1;
}
.menu_list-link {
  color: var(--color-secundary);
}

.swiper-slide img {
  width: 100%;
}

/*imagem banner*/
.banner__img {
  padding-top: 1em;
  display: flex;
  flex-direction: row-reverse;
}
/*produtos*/
.produtos {
  padding-top: 2em;
}
.card_produtos img {
  width: 10em;
}

.card_produtos {
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 15px;
  font-family: var(--font-family);
  margin: 2em;
  padding: 1em;
}
.titulo {
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.5em;
}
.descricao {
  width: 100%;
  text-align: center;
  color: var(--color-descricao);
  font-size: 0.8em;
  padding-top: 1.5em;
}
.preco {
  background-color: var(--color-secundary);
  color: var(--color-primary);

  margin: 2em 0;
  padding: 1em;
}
.preco:hover {
  background-color: #587788;
}
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  @media (max-width: 768px) {
    padding: 0 0.9em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/*footer*/

.img__footer img {
  width: 50px;
}
.container_footer {
  display: flex;
  gap: 3em;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  @media (max-width: 768px) {
    display: block !important;
    text-align: center;
  }
}
.todos_direitos_autorais {
  text-align: center;
}
.rodape {
  background-color: var(--color-primary);
  padding: 2em;
  margin-top: 1em;
}
.redesSociais {
  display: flex;
  gap: 1em;
  align-items: center;
  @media (max-width: 768px) {
    display: flex !important;
    text-align: center;
    justify-content: center;
    padding: 1em 0;
  }
}
