@import "../variable.css";

/*banner*/
.banner {
  position: relative;
  z-index: 1;
}
.menu_list-link {
  color: var(--color-secundary);
}

.swiper-slide img {
  width: 100%;
}

/*imagem banner*/
.banner__img {
  padding-top: 1em;
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: 1024px) {
    padding: 1em 1.62em;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}
.banner__img img {
  @media (max-width: 500px) {
    width: 300px;
  }
}
/*produtos*/

.content {
  padding-bottom: 2em;
}
.produtos {
  padding-top: 2em;
}

.card_produtos img {
  width: 10em;
}

.card_produtos {
  text-align: center;
  background-color: var(--color-primary);
  border-radius: 15px;
  font-family: var(--font-family);
  margin: 2em;
  padding: 1em;
}
.descricao a {
  font-size: 1.3em;
  text-decoration: none;
}
.descricao {
  font-size: 1.5em;
  text-align: center;
  color: var(--color-primary);
  font-size: 0.8em;
}
.produtos {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  @media (max-width: 768px) {
    padding: 0 0.9em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/*footer*/

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  background-color: var(--color-primary);
  @media (max-width: 768px) {
    font-size: 0.8em;
    padding: 1em 1em
    
  }
  
}
.lista__footer {
  display: flex;
  gap: 2em;
  padding-top: 1em;
}
.footer__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-font);
  font-weight: 530;
}
.rodape h3 {
  padding-bottom: 1em;
  font-size: 1.3em;
  font-weight: 500;
}
